* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(59, 59, 59);
    font-family: 'Press Start 2P', cursive;
}

.game-board {
    width: 80%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 168, 35);
    background: linear-gradient(#87CEEB, #E0F6FF);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0;
    right: -80px;
    width: 80px;
}

.move {
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    width: 500px;
    position: absolute;
    top: 5%;
    animation: clouds-animation 20s infinite linear;
}

.msg-score {
    display: none;
    position: absolute;
    top: 2%;
    right: 2%;
    text-shadow: 1px 1px 1px white;
}

.centralize {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
}

.container-msg-game-over {
    display: none;
    animation: msg-animation 1.5s 0.5s both;
}

.msg,
.msg-initial {
    font-size: 2rem;
    text-shadow: 1px 1px 6px black;
    color: rgb(208, 14, 14);
    padding-bottom: 1rem;
}

.btn {
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 40px;
    padding: 1rem;
    font-family: inherit;
    background-color: rgb(201, 203, 205);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 3px 3px black;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40%,
    50%,
    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes msg-animation {
    from {
        top: -100px;
    }

    to {
        top: 50%;
    }
}